@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.25s ease-in-out;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #f8f8ff !important;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 15px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: #444;
    z-index: 100;
}

.sidebar.close {
    width: 88px;
}

.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: #fff;
}

.sidebar .text {
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar header {
    position: relative;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name,
.DASHBOARD {
    font-size: 22px;
    color: #fff;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 50px;
    border-radius: 6px;
}

#sidebar-toggle {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

.sidebar .menu-bar {
    margin-top: 20px;
}

.menu-icons {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
}

.active,
.menu-icons:hover {
    background-color: #525252;
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.wrapper {
    width: 250px;
}

.main {
    margin-left: 250px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.sidebar.close ~ .main {
    margin-left: 88px;
}

.header {
    background-color: #620909;
}

#sidebar-toggle {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 101; 
}

.avatar {
    width: 50px;
    height: auto;
    color: #fff;
}

#prof {
    width: 100%;
}

.primary-text {
    color: #009d63;
}

.secondary-bg {
    background-color: #c1efde;
}

.rounded-full {
    border-radius: 100%;
}
